legacy
main.cpp
CMakeLists.txt
_codeql*
!src
!include
!single-header
!example
.cache
.vscode
.clangd
__pycache__
build
doc/index.html
# doc/build.py
# doc/template.html
.ignore/
example/ymodel2-s-2/model
!example/ymodel2-s-2/model/.keep
test/